<% obj.each do |recipe| %>
  <div class="row">
    <div class="col-md-2">
      <section class="center">
        <%= link_to gravatar_for(recipe.chef, size: 100), recipes_path %>
      </section>
    </div>

    <div class="col-md-10 card">
      <h4><strong><%= link_to recipe.name, recipe_path(recipe) %></strong></h4>
      <p><strong>description:</strong> <%= truncate(recipe.description, length:150) %></p>
      <span class ="quiet"><small> <%= time_ago_in_words(recipe.created_at) %>  ago</small></span>
      <% if logged_in? && (current_chef == recipe.chef || current_chef.admin?) %>
        <div class="recipe-actions">
          <%= link_to "Edit recipe",edit_recipe_path(recipe), class: "btn btn-xs btn-warning"%>
          <%= link_to "Delete", recipe_path(recipe), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
