<nav class="navbar navbar-expand-lg navbar-light">
  <%= link_to "MyRecipes", root_path, class:"navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to "Chefs", chefs_path %>
      </li>
      <li class="nav-item">
        <%= link_to "All recipes", recipes_path %>
      </li>


      <% if logged_in?  %>
        <li class="nav-item">
          <%= link_to "Chef Chat", chat_path %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_chef.chefname.capitalize %>'s Profile <%= "Admin" if current_chef.admin? %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "View your profile", chef_path(current_chef), class:"dropdown-item" %>
            <%= link_to "Edit your profile", edit_chef_path(current_chef), class:"dropdown-item" %>
            <%= link_to "Create new recipe", new_recipe_path, class:"dropdown-item" %>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", logout_path, method: :delete %>

          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in", login_path %>
        </li>
      <% end %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ingredients
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "All Ingredients", ingredients_path, class:"dropdown-item" %>
          <% Ingredient.all.each do |ing| %>
            <%= link_to ing.name.capitalize, ingredient_path(ing), class: "dropdown-item" %>
          <% end %>
          <a class="dropdown-item" href="#">Another action</a>
          <% if logged_in? && current_chef.admin? %>
            <div class="dropdown-divider"></div>
            <%= link_to "New Ingredient", new_ingredient_path, class:"dropdown-item" %>
          <% end %>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
